.container{
    padding-left: 2px;
}
.ImgGroup{
    width: 100%;
    height: 140px;
  }
  .titleArea{
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    margin-top: 100px;
  }
  .title{
    width: 90%;
    height: 10px;
    font-size:20px;
    font-weight: bold;
  }