.container {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
}

.content{
    flex: 1;
    overflow-y: scroll; /* 滚动条在内容溢出时出现 */
  }

.content::-webkit-scrollbar {
  display: hidden;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 10px;
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: url(/images/image4_1.jpg);

  .searchBar {
    display: flex;
    align-items: center;
    width: 90%;
    height: 32px ;
    border-radius: 16px;
    background-color: #fff;
    margin-top: 34px;
    margin-bottom: 9px;    
    font-size: 18px;
    .searchInput {
      display: flex;
      align-items: center; /* 垂直居中 */
      padding-left: 12px;
      flex: 1;
      color: #333333;
      overflow: hidden;

      .city {
        height: 24px;
        width: 25%;
        margin: 5px 0;
        border-right: 1px solid #333;
        margin-right: 10px;
      }


      .searchWord{
        height: 24px;
        padding-left: 5px;
      }
    }

    .searchButton {
      display: flex;
      justify-content: center; /* 水平居中 */
      align-items: center; /* 垂直居中 */
      width: 20%;
      height: 32px;
      border-radius: 16px;
      background-color: #3eac87;
      color: #fefefe;
    }
  }
  .hotWords {
    transition: all 0.3s ease-out; /* 添加一个过渡效果 */
    margin-bottom: 5px;
    width: 100%;
    .wordsContainer {
      display: flex;
      align-items: center;
      overflow-x: scroll;
      flex-direction: row;
      .tag {
        background-color: #3eac87;
        font-size: 14px;
        color: #fefefe;
        border: none;
        padding: 8px 15px;
        margin: 5px 5px;
      }
    }

    .wordsContainer::-webkit-scrollbar{
      display: none;
    }
  }
  .hidden {
    opacity: 0;
    height: 0; /* 将高度设为 0，使组件消失 */
  }
}

.travelTopics {
  padding: 10px 10px 0 10px;
}


.topicCard {
  position: relative;
  height: 150px;
  color: #ffffff;
  
  .topicName {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;;
    font-size: 20px;
    .topicHeat{
      font-size: 10px;
    }
  }

}

.scaleContent {
  height: 150px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}

.root {
  :global {
    .adm-swiper-slide {
      transform: scale(0.6);
      transition: all 0.3s;
    }

    .adm-swiper-slide-active {
      transform: scale(1);
    }
  }
}


.TWf {
  padding: 10px 10px 0 10px;
}
