.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    .content{
      flex: 1;
      overflow-y: scroll; /* 滚动条在内容溢出时出现 */
    }
    .content::-webkit-scrollbar{
      display: none;
    }
    .footer {
      width: 100%;
      height: 50px; /* 页脚的高度 */
      background: rgb(130, 191, 166);
      font-size: 20px;
    }
  }
  .tabBar{
    color: white;
  }
  .paramsModal {
  :global {
    .adm-tab-bar-warp{
      .adm-tab-bar-item{
        font-size: 1.5vh;
      }

    }
    
    
  }
}