.paramsModal {
  :global {
      .ant-upload-list{
        width: 340px;
        height: 200px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      .ant-upload {
          background-color: antiquewhite;
          width: 100px;
          height: 100px;
      }
  }
}
.containerImage{
  // display: flex;
}
