.searchBar {
    border-bottom: 1px solid #eee;
}

.searchContent {
    margin: 0 16px;
    font-size: 20px;
    color: #222;
}

.searchTitle {
    margin: 5px 0;
}

.searchTags {
    margin: 10px 0;
}

.tag {
    background-color: #eee;
    font-size: 14px;
    color: #777;
    border:  none;
    padding: 8px;
    margin: 5px 5px;
}