@font-face {
  font-family: "iconfont"; /* Project id 4489466 */
  src: url('iconfont.woff2?t=1711865116367') format('woff2'),
       url('iconfont.woff?t=1711865116367') format('woff'),
       url('iconfont.ttf?t=1711865116367') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e841";
}

.icon-like:before {
  content: "\e64d";
}

.icon-like1:before {
  content: "\e7c8";
}

.icon-like-fill:before {
  content: "\e869";
}

.icon-like2:before {
  content: "\e7bf";
}

.icon-comment:before {
  content: "\e668";
}

